
.exp-4
{
    line-height:36px;
}
.exp-5 {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #b9b4b3;
    background:#fff;
}

#experience
{
    background: linear-gradient(100deg, #000, transparent),url('../assets/img/exp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 20px;
    background-attachment: fixed;
}