
.exp-4
{
    line-height:36px;
}
.exp-5 {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #b9b4b3;
}
.exp-5:hover{
    transform: scale(1.01);
    transition:.10s linear;
    box-shadow: 20px 20px 0px #000;
}