#banner2
{
    background:url('../assets/img/banner.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

#banner2 .heading{
    color: #2f7ad7;
}

#banner2 p
{
  color: #000;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0px;
}
#hello
{
 font-weight: 600;
 color:#f75023;
}
#name
{
  font-size: 60px;
}
#banner_section
{
  padding:36px;
}
#slug
{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
}
.about_button
{
  background: #f75023;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration:none;
}
.about_button span
{
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration:none;
}
a{
  text-decoration:none;
}
.designer
{
  color: #f75023;
  font-weight:500;
}
.developer
{
   color: #2f7ad7;
   font-weight:500;
}
.location
{
  color: #d31313;
  font-weight:500;
}
#banner4{
  box-shadow: 4px 6px 0px #f75023;
  border-radius: 20px;
}
#banner6{
    box-shadow: -6px 0px 0px #f75023;
    border-radius: 20px;
}

.skil-4{
  width: 50px;
  height: auto;
  position: relative;
  top: 140px;
  border-radius: 50px;
  border: 2px solid #f75d33;
  left: -17px;
}

.skil-14{
  width: 62px;
  height: auto;
  position: relative;
  top: 43px;
  border-radius: 50px;
  border: 2px solid #f75d33;
  left: -17px;
}