h1{
    font-weight: 200;
    color:#000;
    font-size:36px;
}
h1>b
{
    font-weight: 500;
    color:#000;
}
.skils_set_box
{
    height: auto;
    padding: 50px;
    width: 100%;
    box-shadow: 5px 5px 50px #d3d3d3;
}
#skils_set{
    padding-top: 20px;
    padding-bottom: 20px;
}
.color-1
{
    color: #000;
    font-weight: 600;
}
.skils_set_box:hover
{
    background: #ebebeb;
    transition:.3s;
}
@media only screen and (max-width:767px){
    .skils_set_box
    {
        margin-bottom: 5px;
    }
}