#border-4
{
    border: 1px solid #c5c4c4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 4px #edd7d1;
    background:#f5deb3;
}
#border-4:hover
{
    transform: scale(1.01);
    transition:.10s linear;
    box-shadow: 20px 20px 0px #f75023;
}